body {
    background-image: url("cock pic.png");
   
    
    background-repeat: no repeat;
    background-size: contains;
  }
  h1{
   color:white;
  }
  
  h2{
    color:rgb(247, 12, 12);
    h2.solid {border-style: solid;}

  } 
  input{
    border-width: 5px;
    height :50px;
    width : 200px;
  }
  button{
    border-width: 5px;
    height :55px;
    width : 75px;
  }

  mark {
    background-color:black;
    color:white;
  }